@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background-image: url("../assets/images/line_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 20px);
  position: relative;
}